=flex-center()
    display: flex
    justify-content: center
       

$mainColor: #612058

body
    background-color: $mainColor
    h1
        +flex-center()
        color: #fff
<<<<<<< HEAD
        text-decoration: underline
=======
        font-weight: lighter
>>>>>>> c5959fb3daa8c453dba54ded42aa16fa8472739f
