=flex-center()
    display: flex
    justify-content: center
       

$mainColor: #612058

body
    background-color: $mainColor
    h1
        +flex-center()
        color: #fff
        text-decoration: underline